body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: white;
}

.container{
    display: flex;
    text-align: center;
}

.icon{
    width: 90px;
    height: 90px;
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 30%;
    color: cadetblue;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
}

.icon i{
    line-height: 90px;
    font-size: larger;
    transition: all 0.5s;
}

.icon:hover i{
    color: whitesmoke;
    animation: icons 0.7s 1 forwards;
}

.icon::before{
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    left: -110%;
    top: 90%;
    background-color:cadetblue;
    transform: rotate(45deg);
}

.icon:hover::before{
    animation: animation 0.7s 1 forwards;
}

@keyframes animation{
    0% {
        left: -110%;
        top: 90%;
    }

    50% {
        left: 15%;
        top: -10%;
    }

    100% {
        left: -10%;
        top: -10%;
    }
}

@keyframes icons{
    0% {
        transform: rotate(0deg) scale(2);
    }

    45% {
        transform: rotate(15deg) scale(2);
    }

    70% {
        transform: rotate(-15deg) scale(2);
    }

    100% {
        transform: rotate(0deg) scale(2);
    }
}
